name: Release

on:
  push:
    tags:
      - 'v*.*.*-neon-v*'

env:
  GO_VERSION: '1.24'
  CGO_ENABLED: 0
  VERSION: ${{ github.ref_name }}
  CODENAME: neon
  # Use github and google registries
  GHCR_REGISTRY: ghcr.io
  GCP_ARTIFACT_HOST: ${{ vars.SHARED_WIF_LOCATON }}-docker.pkg.dev
  GCP_REGISTRY: ${{ vars.SHARED_WIF_LOCATON }}-docker.pkg.dev/${{ vars.SHARED_WIF_PROJECT }}/${{ vars.SHARED_WIF_REPO }}
  GHCR_NS: battelleecology
  # Use docker.io for Docker Hub if empty
  REGISTRY: ghcr.io
  # github.repository as <account>/<repo>
  # IMAGE_NAME: ${{ github.repository }}
  # Get just the repo name from the event
  REPO_NAME: ${{ github.event.repository.name }}

jobs:

  build-webui:
    if: github.ref_type == 'tag' && github.repository == 'BattelleEcology/neon-traefik'
    uses: ./.github/workflows/template-webui.yaml

  build:
    if: github.ref_type == 'tag' && github.repository == 'BattelleEcology/neon-traefik'
    runs-on: ubuntu-latest

    strategy:
      matrix:
        os: [ linux-amd64, linux-arm64, darwin ]
    needs:
      - build-webui

    steps:
      - name: Check out code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Go ${{ env.GO_VERSION }}
        uses: actions/setup-go@v5
        env:
          # Ensure cache consistency on Linux, see https://github.com/actions/setup-go/pull/383
          ImageOS: ${{ matrix.os }}
        with:
          go-version: ${{ env.GO_VERSION }}
          check-latest: true

      - name: Artifact webui
        uses: actions/download-artifact@v4
        with:
          name: webui.tar.gz

      - name: Untar webui
        run: |
          tar xvf webui.tar.gz
          rm webui.tar.gz

      - name: Go generate
        run: go generate


      - name: Generate goreleaser file
        run: |
          GORELEASER_CONFIG_FILE_PATH=$(go run ./internal/releaseneon "${{ matrix.os }}")
          echo "GORELEASER_CONFIG_FILE_PATH=$GORELEASER_CONFIG_FILE_PATH" >> $GITHUB_ENV

      - name: Build with goreleaser
        uses: goreleaser/goreleaser-action@v6
        with:
          distribution: goreleaser
          # 'latest', 'nightly', or a semver
          version: '~> v2'
          args: release --clean --timeout="90m" --config "${{ env.GORELEASER_CONFIG_FILE_PATH }}"

      - name: Artifact binaries
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.os }}-binaries
          path: |
            dist/**/*_checksums.txt
            dist/**/*.tar.gz
            dist/**/*.zip
          retention-days: 1

  release:
    if: github.ref_type == 'tag' && github.repository == 'BattelleEcology/neon-traefik'
    runs-on: ubuntu-latest

    needs:
      - build

    steps:
      - name: Check out code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Artifact webui
        uses: actions/download-artifact@v4
        with:
          name: webui.tar.gz

      - name: Untar webui
        run: |
          tar xvf webui.tar.gz
          rm webui.tar.gz

      - name: Download All Artifacts
        uses: actions/download-artifact@v4
        with:
          path: dist/
          pattern: "*-binaries"
          merge-multiple: true

      - name: Publish Release
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          cat dist/**/*_checksums.txt >> "dist/traefik_${VERSION}_checksums.txt"
          rm dist/**/*_checksums.txt
          tar cfz "dist/traefik-${VERSION}.src.tar.gz" \
            --exclude-vcs \
            --exclude .idea \
            --exclude .travis \
            --exclude .semaphoreci \
            --exclude .github \
            --exclude .neon \
            --exclude dist .
          
          chown -R "$(id -u)":"$(id -g)" dist/
          gh release create ${VERSION} ./dist/**/traefik*.tar.gz ./dist/traefik*.{tar.gz,txt} --repo BattelleEcology/neon-traefik --title ${VERSION} --notes ${VERSION}

  docker:
    if: github.ref_type == 'tag' && github.repository == 'BattelleEcology/neon-traefik'
    runs-on: ubuntu-latest

    needs:
      - release

    permissions:
        contents: read
        security-events: write
        packages: write
        # This is used to complete the identity challenge
        # with sigstore/fulcio when running outside of PRs.
        id-token: write

    steps:
      - name: Check out code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      # Handle Google pkg.dev login
      - name: 'Google auth'
        id: 'auth'
        uses: 'google-github-actions/auth@v2'
        with:
          workload_identity_provider: "${{ vars.SHARED_WIF_PROVIDER }}"
          service_account: "${{ vars.SHARED_WIF_SERVICE_ACCOUNT }}"
          token_format: 'access_token'

      # Login to google artifact registry
      - name: Log into registry ${{ env.GCP_ARTIFACT_HOST }}
        uses: 'docker/login-action@v3'
        with:
          registry: ${{ env.GCP_ARTIFACT_HOST }}
          username: 'oauth2accesstoken'
          password: ${{ steps.auth.outputs.access_token }}

      # Login to github registry
      - name: Log into registry ${{ env.GHCR_REGISTRY }}
        uses: docker/login-action@v3
        with:
          registry: ${{ env.GHCR_REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      # Setup QEMU for multi-platform / arm64 support
      - name: Setup QEMU
        uses: docker/setup-qemu-action@v3

      - name: Setup Docker buildx
        uses: docker/setup-buildx-action@v3

      # Extract metadata (tags, labels) for Docker
      # https://github.com/docker/metadata-action
      - name: Extract Docker metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: |
            ${{ env.GCP_REGISTRY }}/${{ env.REPO_NAME }}
            ${{ env.GHCR_REGISTRY }}/${{ env.GHCR_NS }}/${{ env.REPO_NAME }}
          tags: |
            type=schedule
            type=ref,event=branch
            type=ref,event=tag
            type=ref,event=pr
            type=sha

      # Build and push Docker image with Buildx
      # https://github.com/docker/build-push-action
      - name: Build and push Docker image
        id: build-and-push
        uses: docker/build-push-action@v6
        with:
          context: .neon
          platforms: linux/amd64,linux/arm64
          push: true
          build-args: TAG=${{ env.VERSION }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          provenance: true
